@page "/materias-alunos"

@using MudBlazor
@using POCA.Web
@inject UserSessionService UserSession
@inject NavigationManager NavigationManager
@inject Services.APIs.AlunosAPI AlunosAPI;

<h2>Materias Alunos</h2>

<!--
    Esse documento serve para ser um exemplo para ajudar em futuras páginas
-->
@if (UserSession.IsLoggedIn)
{
    <MudText>@materiasID</MudText>
}
else
{
    <MudText>Você já não está logado</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" OnClick="NavigateLogin">Logar</MudButton>
}

@code
{
    public AlunoResponse? aluno;
    public List<string> materiasID;

    // Obrigatorio para usar o UserSession
    protected override async void OnInitialized()
    {
        UserSession.OnChange += HandleUserSessionChanged;

        var aluno = await AlunosAPI.GetAlunosbyIDAsync((int) UserSession.CurrentUser.IdAluno!);
        int y = 0;

        foreach (var campo in aluno.MateriasIds.ToString())
        {
            materiasID[y] = campo.ToString();
            y++;
        }
    }

    private void HandleUserSessionChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        UserSession.OnChange -= HandleUserSessionChanged;
    }
    public void NavigateLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    // aqui



}
