@page "/login"
@using MudBlazor
@using POCA.Web
@using POCA.Web.Utils
@inject POCA.Web.Services.AlunosAPI AlunosAPI
@inject UserSessionService UserSessionInstance
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<h1>Página de Login</h1>

@if (LoginFalha)
{
    <MudAlert>@mensagemfalha</MudAlert>
}

<MudTextField @bind-Value="usuario.User" Label="Usuário" Variant="Variant.Filled" />
<MudTextField @bind-Value="usuario.Senha" Label="Senha" Variant="Variant.Filled" InputType="InputType.Password" />
<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" OnClick="EfetuarLogin">Entrar</MudButton>

@code {
    private Usuario usuario = new Usuario();
    private LoginService login;
    private bool LoginSucesso = false;
    private bool LoginFalha = false;
    private string mensagemfalha;

    private class Usuario
    {
        public string User { get; set; }
        public string Senha { get; set; }
    }

    private async Task EfetuarLogin()
    {
        if (usuario.User != "" && usuario.Senha != "")
        {
            var login = await AlunosAPI.CheckAlunosAsync(usuario.User, usuario.Senha);

            if (login != null)
            {
                await UserSessionInstance.Login(login);
                MostrarMensagem("Login bem-sucedido!", 2);
                NavigationManager.NavigateTo("/");
            }
            else
            {
                LoginFalha = true;
                mensagemfalha = "Erro ao fazer login. O login ou senha errado";
            }
        }
        else
        {
            MostrarMensagem("Coloque a senha", 1);
        }

    //como usar dps 
        //      @inject UserSessionService UserSession

        //     @if (UserSession.IsLoggedIn)
        //     {
        //         <p>Welcome, @UserSession.CurrentUser.nomeAluno!</p>
        //     }
        //     else
        //     {
        //         <p>Please log in.</p>
        //     }
    }

    private void MostrarMensagem(string mensagem, int codigoSeveridade)
    {
        var severidade = codigoSeveridade switch
        {
            0 => Severity.Normal,
            1 => Severity.Info,
            2 => Severity.Success,
            3 => Severity.Warning,
            4 => Severity.Error,
            _ => Severity.Normal
        };

        Snackbar.Add(mensagem, severidade);
    }
}