@page "/login"
@using MudBlazor
@using POCA.Web
@using POCA.Web.Utils
@inject POCA.Web.Services.AlunosAPI AlunosAPI

<h1>Página de Login</h1>

@if(LoginFalha)
{
    <MudAlert>@mensagemfalha</MudAlert>
}

<MudTextField @bind-Value="usuario.User" Label="Usuário" Variant="Variant.Filled" />
<MudTextField @bind-Value="usuario.Senha" Label="Senha" Variant="Variant.Filled" InputType="InputType.Password" />
<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" OnClick="EfetuarLogin">Entrar</MudButton>

<!--
    "idAluno": 6,
    "nomeAluno": "Gabriel Ribeirao Pereira",
    "idadeAluno": 23,
    "progressoAluno": 7,
    "contatoAluno": "GabrielRP@yahoo.com",
    "loginAluno": "GabrielRiPe",
    "senhaAluno": "brinks",
    "tbMateria": []
</!-->

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }

    private Usuario usuario = new Usuario();
    private LoginService login;
    private AlunoResponse temporario;
    private bool LoginSucesso = false;
    private bool LoginFalha = false;
    private string mensagemfalha;

    private class Usuario
    {
        public string User { get; set; }
        public string Senha { get; set; }
    }

    private async Task EfetuarLogin()
    {
        var login = await AlunosAPI.CheckAlunosAsync(usuario.User, usuario.Senha);

        if (login != null)
        {
            LoginSucesso = true;
            MostrarMensagem("Login bem-sucedido!", 2);
            RedirecionarParaOutraPagina("/");
        }
        else
        {
            LoginFalha = true;
            mensagemfalha = "Erro ao fazer login. O login ou senha errado";
        }
    }

    private void MostrarMensagem(string mensagem, int codigoSeveridade)
    {
        var severidade = codigoSeveridade switch
        {
            0 => Severity.Normal,
            1 => Severity.Info,
            2 => Severity.Success,
            3 => Severity.Warning,
            4 => Severity.Error,
            _ => Severity.Normal
        };

        Snackbar.Add(mensagem, severidade);
    }

    private void RedirecionarParaOutraPagina(string pagina)
    {
        NavigationManager.NavigateTo(pagina);
    }
}