@page "/pag-exemplo"
@using MudBlazor
@using POCA.Web
@inject UserSessionService UserSession
@inject NavigationManager NavigationManager

<h2>Pagína de Exemplo</h2>

<!--
	Esse documento serve para ser um exemplo para ajudar em futuras páginas
-->
@if (teste)
{
    <MudText>tseste</MudText>
}
@if (UserSession.IsLoggedIn)
{
    <MudText>Você já está logado</MudText>
}
else
{
    <MudText>Você já não está logado</MudText>
}
@code {
    public bool teste;
    protected override async Task OnInitializedAsync()
    {
        if (UserSession.IsLoggedIn)
        {
            teste = true;
        }
    }
}
