@page "/pag-exemplo"
@using MudBlazor
@using POCA.Web
@inject UserSessionService UserSession
@inject NavigationManager NavigationManager

<h3>Pagína de Exemplo</h3>

<!--
	Esse documento serve para ser um exemplo para ajudar em futuras páginas
-->

@if (UserSession.IsLoggedIn)
{
	<h3>Logado</h3>
}
else
{
	<h3>Loge imediatamente</h3>
	<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" OnClick="Voltar">Voltar</MudButton>
}

@code {
	private void Voltar()
	{
		NavigationManager.NavigateTo("/");
	}
}
