@page "/teste"
@using MudBlazor
@using POCA.Web

<h3>Teste</h3>

<MudRadioGroup T="int" Label="Selecione uma opção" @bind-Value="opcaoSelecionadaindex">
    <MudRadio Value="1">0</MudRadio>
    <MudRadio Value="2">1sdfa</MudRadio>
    <MudRadio Value="3">yjuthgrfvd</MudRadio>
    <MudRadio Value="4">uytnhrbgefv</MudRadio>
</MudRadioGroup>

<p>Opção selecionada: @opcaoSelecionadaindex</p>

@code {
    private List<string> opcoes;
    private int opcaoSelecionadaindex;
    private int teste;
}