@page "/aluno"
@using MudBlazor
@using POCA.Web
@inject UserSessionService UserSession
@inject NavigationManager NavigationManager

<h2>Pagína de Exemplo</h2>

<!--
    Esse documento serve para ser um exemplo para ajudar em futuras páginas
-->
@if (UserSession.IsLoggedIn && UserSession.CurrentUser.IsProfessor)
{
    <MudText>Você já está logado como professor</MudText>
}
else if (UserSession.IsLoggedIn && !UserSession.CurrentUser.IsProfessor)
{
    <MudText>Você já está logado como aluno</MudText>
}
else
{
    <MudText>Você já não está logado</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" Href="/login">Logar</MudButton>
}
@code
{
    // Obrigatorio para usar o UserSession
    protected override void OnInitialized()
    {
        UserSession.OnChange += HandleUserSessionChanged;
    }

    private void HandleUserSessionChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        UserSession.OnChange -= HandleUserSessionChanged;
    }
}
